/*Style the Webpage*/
header {
    text-align:center;
    font-size:30px;
    font-family:'Tangerine', sans-serif;
    color:gold;
}

strong{
    font-size: 50px;
    margin:30px;
}

#reset-switch{
    width: 100px;
    height: 20px;
    font-size: 12px;
}

#controls-container{
    float:left;
    margin:50px;
}


#grid-container{
    float:right;
    display: grid;
    width: 500px;
    height: 500px;
    margin:50px;
}

.grid-item {
    width:auto;
    height:auto;
    border: solid;
    border-color: grey;
    border-width: 1px;
    background-color: white;
}

